/* 
    Document   : style
    Created on : 25.12.2012, 23:35:43
    Author     : 1
    Description:
        Purpose of the stylesheet follows.
*/
.hinted {
    cursor: help;
}

.clearInput {
    cursor: pointer;
    float: right;
    position: relative;
    right: 7px;
    top: -35px;
    color: #9d9d9d;
}

.clearInput:hover {
    color: #000;
}

.filterLocked {
    background: url("/images/padlock_closed.png") center no-repeat !important;
    height: 30px;
    width: 60px;

}

.filterUnlocked {
    background: url("/images/padlock_open.png") center no-repeat !important;
    height: 30px;
    width: 60px;

}

.unread {
    font-weight: bold !important;
}

.subheader {
    text-align: center;

}

.ajaxLink,
.mgvClKVF,
.mgvClF {
    border-bottom: 1px #2BA6CB dotted;
}

a:hover {

}

.ajaxLink:hover,
.mgvClKVF:hover,
.mgvClF:hover {

    text-decoration: none !important;
}

tbody tr:first-child td {
    border-top: none;
}

.input-inline {
    display: inline-block !important;
    margin: 0px 10px 10px !important;
    width: auto !important;
}

.cbox-fixed {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    color: black;

}

.cbox {
    display: inline-block;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

span.required {
    color: red;
}

.tabs.pill {
    overflow: hidden;
    height: auto !important;
}

.tabs.pill dd, .tabs.pill li {
    height: 2.5em;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

.indent-bot-10 {
    margin-bottom: 10px;
}

.indent-bot-15 {
    margin-bottom: 15px;
}

.indent-bot-20 {
    margin-bottom: 20px;
}

.pager {
    margin-bottom: 20px;
}

tr.filters td {
    padding: 0 10px;
}

a:hover {
    text-decoration: underline !important;
}

a.asc {
    background: url("../images/up.gif") no-repeat scroll right center transparent;
    padding-right: 15px;
}

a.desc {
    background: url("../images/down.gif") no-repeat scroll right center transparent;
    padding-right: 15px;
}

/*.grid-view .items tbody tr:hover {
    background: #f0ffff;
    cursor: pointer;
}*/
.loading-control:before,
.grid-view-loading:before {
    background: url("../images/loading.gif") no-repeat right top;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.no-bullet {
    margin-left: 0px;
    margin-bottom: 15px;
}

.six.columns .fc-event-title {
    font-size: 11px;
}

.fc-event-title img {
    vertical-align: top;
    margin-right: 5px;
}

.fc-header {
    border: 0px !important;
}

.row.full-width {
    width: 100% !important;
    max-width: 100%;
}

.row.almost-full-width {
    width: 95% !important;
    max-width: 100%;
}

.newRow:nth-child(even) {
    background: #d0ffff;
}

.newRow:nth-child(odd) {
    background: #e6ffff;
}

.outdatedRow:nth-child(even) {
    background: #fbd9e0;
}

.outdatedRow:nth-child(odd) {
    background: #fbd9e0;
}

.outdated {
    background: #fbd9e0;
}

.toolate:nth-child(odd),
.toolate:nth-child(even) {
    background: #FDD;
}

.errorSummary {
    border-left: 10px red solid;
    background: #FDD;
    padding: 0.5em 0em 0.5em 1em;
    margin-bottom: 1em;
}

.errorSummary ul {
    list-style: disc;
}

.errorSummary ul li {
    margin-left: 2em;

}

.foundation-date-picker {
    display: inline-block !important;
    width: 150px !important;
}

.errorMessage {
    display: block;
    padding: 6px 4px;
    margin-top: -13px;
    margin-bottom: 12px;
    background: #c60f13;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/*ditry hack*/
.ten-hacked, .row .ten-hacked {
    width: 83.33333%;
}

/* Very large display targeting */
@media only screen and (min-width: 1441px) {
}

/* Medium display targeting */
@media only screen and (max-width: 1279px) {
    .ten-hacked, .row .ten-hacked {
        width: 100%;
    }
}

/* Small display targeting */

.savingoverlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease 0s;
    visibility: visible;
    z-index: 10;
    /*display: none;*/
}

.savingpopup {
    left: 50%;
    position: fixed;
    background-color: #fff;
    top: 50%;
    display: inline-block;
    z-index: 2001;
    padding: 10px;

    -moz-box-shadow: 3.5px 4px 5px #000000;
    -webkit-box-shadow: 3.5px 4px 5px #000000;
    box-shadow: 3.5px 4px 5px #000000;

    border-radius: 5px;
    -moz-border-radiux: 5px;
    -webkit-border-radiux: 5px;

    border: 1px solid #CCCCCC;
}

.savingpopup img {
    vertical-align: middle;
}

.dwModal {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease 0s;
    visibility: visible;
    z-index: 10;
    display: none;
}

#dwModalPopupHeader {
    width: 100%;
    height: 35px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    background: #cccccc;
    overflow: hidden;
}

#dwModalPopupHeader button {
    float: right;
}

#dwModalPopupInner {
    padding: 10px;
}

.dwModalPopup {

    left: 50%;
    position: absolute;
    width: 1200px;
    margin-left: -600px;

    background-color: #fff;
    top: 50%;
    display: none;
    z-index: 2001;

    -moz-box-shadow: 3.5px 4px 5px #000000;
    -webkit-box-shadow: 3.5px 4px 5px #000000;
    box-shadow: 3.5px 4px 5px #000000;

    border-radius: 5px;
    -moz-border-radiux: 5px;
    -webkit-border-radiux: 5px;

    transition: .5s;
    /*border: 1px solid #CCCCCC;*/
}

.dwModal:target+.dwModalPopup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.dwModalPopup img.loading {
    vertical-align: middle;
}

blockquote {
    word-break: break-word;
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    /* Black prints faster: h5bp.com/s */
    td, th {
        border: 1px solid !important;
    }

    table {
        border-collapse: collapse;
    }

    .full-width-print {
        width: 100% !important;
    }

    .button-column, tr.filters, .top-bar, .breadcrumbs, .button, .hide-print {
        display: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Don't show links for images, or javascript/internal links */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    /* h5bp.com/t */
    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}

.doneTag {
    opacity: 0.4;
}

.doneTag:hover {
    opacity: 1;
}

.placeholder {
    margin-bottom: 70px;
}

.sticky {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.top-bar.expanded {
    height: inherit !important;
}

div[dropzone] {
}

.drop-hover {
    border: 2px dashed red;
    border-radius: 5px;
}
