.children { padding-left: 0px; }

.tree-content .radio-custom, .radio-class .radio-custom {
	position: relative;
	padding: 8px 0 0 24px;
	color: #707070;
}

.tree-content .radio-custom div:hover, .radio-class .radio-custom div:hover 
{
	color: #000;
}

.tree-content .radio-custom .hasChildren div:hover
{
	border-bottom:1px dashed;
}

.tree-content .radio-custom .radio-button, .radio-class .radio-custom .radio-button {
	position: absolute;
	cursor: pointer;
	background-image: url(/images/ctree/icon-radio-button.png);
	width: 12px;
	height: 12px;
	top: 10px;
	left: 0px;
	overflow: hidden;
}
.tree-content .radio-custom .hiden-radio, .radio-class .radio-custom .hiden-radio {
	display: none;
}

.tree-content { padding-left: 15px; }


.custom-checkbox {
	display: block;
	position: relative;
	padding: 1px 0 0 0;
}
.c-hight {
	height: 23px;
	width: 130px;
	margin: 2px 0 0 0;
}
.custom-checkbox .checkbox-button, .custom-checkbox .checkbox-adv-button {
	position: absolute;
	top: 2px;
	left: 2px;
	background-image: url(/images/ctree/icon-checkbox.jpg);
	width: 13px;
	height: 13px;
	cursor: pointer;
	overflow: hidden;
}
.custom-checkbox .checkbox-position {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 13px;
	height: 13px;
	cursor: pointer;
	overflow: hidden;
}
.custom-checkbox .checkbox-label {
	color: #707070;
	padding: 0 0 5px 0;
	margin: 0 0 0 25px;
	overflow: hidden;
	width: auto;
	cursor: pointer;
}
.custom-checkbox .checkbox-label:hover {
	color: #000;
}
.custom-checkbox .checkbox-label-11 {
	font-size: 11px;
	color: #707070;
	padding: 0 0 5px 0;
	margin: 0 0 0 25px;
	overflow: hidden;
	width: auto;
}
.custom-checkbox .checkbox-label-das {
	position: absolute;
	top: 0px;
	left: 25px;
	color: #569ac1;
	border-bottom: 1px dashed #569ac1;
	height: 15px;
	line-height: 14px;
}
.custom-checkbox .checkbox-label-black {
	padding: 0 0 0 25px;
	height: 20px;
}
.custom-checkbox input {
	display: none;
}

.design-popup .d-tree .d-tree-t-l {
	background-image: url(/images/ctree/tree-t-l.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 5px;
	width: 5px;
}

.design-popup .d-tree .d-tree-t-c {
	background-image: url(/images/ctree/tree-t-c.png);
	background-repeat: repeat-x;
	height: 5px;
	width: 98%
}

.design-popup .d-tree .d-tree-t-r {
	background-image: url(/images/ctree/tree-t-r.png);
	background-repeat: no-repeat;
	background-position: right;
	height: 5px;
	width: 5px;
}
.design-popup .d-tree .d-tree-b-c {
	background-image: url(/images/ctree/tree-b-c.png);
	background-repeat: repeat-x;
	height: 5px;
}
.design-popup .d-tree .d-tree-b-l {
	background-image: url(/images/ctree/tree-b-l.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 5px;
	width: 5px;
}
.design-popup .d-tree .d-tree-b-r {
	background-image: url(/images/ctree/tree-b-r.png);
	background-repeat: no-repeat;
	background-position: right;
	height: 5px;
	width: 5px;
}
.design-popup .d-tree .d-tree-c-c {
	background-color: #f8f8f8;
	padding: 0 15px;
	overflow: hidden;
	width: 99%;
}
.design-popup .d-tree .d-tree-c-l {
	background-image: url(/images/ctree/tree-c-l.jpg);
	background-repeat: repeat-y;
	background-position: left;
	height: 5px;
	width: 5px;
}
.design-popup .d-tree .d-tree-c-r {
	background-image: url(/images/ctree/tree-c-r.jpg);
	background-repeat: repeat-y;
	background-position: right;
	height: 5px;
	width: 5px;
}
.design-popup .d-tree .d-tree-c-c .up-button {
	float: right;
	background-image: url(/images/ctree/tree-pointer-t.gif);
	background-position: center right;
	background-repeat: no-repeat;
	padding: 0 15px 0 0;
	margin: 10px 0 -15px 0;
	color: #539cc5;
	text-decoration: underline;
	cursor: pointer;
}
.design-popup .d-tree .d-tree-c-c .down-button {
	float: right;
	background-image: url(/images/ctree/tree-pointer-b.gif);
	background-position: right center;
	background-repeat: no-repeat;
	padding: 0 15px 0 0;
	margin: -15px 0 10px 0;
	color: #539cc5;
	text-decoration: underline;
	cursor: pointer;
}
.design-popup .d-tree .d-tree-part-name {
	height: 13px;
	border-bottom: 1px solid #eaeaea;
	background-image: url(/images/ctree/tree-pointer.gif);
	background-repeat: no-repeat;
	background-position: 98% 10px;
	font-size: 13px;
	font-weight: bold;
	color: #707070;
	padding: 3px 0 8px 0;
	margin: 0 0 5px 0;
	cursor: pointer;
}
.design-popup .d-tree .d-tree-part-name:hover {
	color: #000;
}
.design-popup .d-tree .d-tree-on-top {
	float: left;
	background-image: url(/images/ctree/tree-pointer-t.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0 0 0 15px;
	color: #539cc5;
	text-decoration: underline;
	cursor: pointer;
	margin: 10px 0;
}
.design-popup .d-tree .d-tree-on-bottom {
	float: right;
	background-image: url(/images/ctree/tree-pointer-b.gif);
	background-position: right center;
	background-repeat: no-repeat;
	padding: 0 15px 0 0;
	color: #539cc5;
	text-decoration: underline;
	cursor: pointer;
	margin: 10px 0;
}
.design-popup .d-tree-level {
	margin: 0 0 0 25px;
}
.design-popup .d-tree-level-1 {
    height: 250px;
    overflow: auto;
}
.design-popup .d-tree-text {
	font-size: 11px;
	color: #707070;
	float: left;
	padding: 10px 5px 10px 0;
}
.design-popup .d-tree-select {
	border: 1px solid #dedbd4;
	float: left;
	width: 130px;
	font-size: 11px;
	height: 20px;
	color: #707070;
	margin: 8px 0 0 0;
}