<ul class="nav side-nav abn-tree">
    <li ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"  ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="abn-tree-row">
        <a ng-click="user_clicks_branch(row.branch)">
            <i ng-class="row.tree_icon" class="indented fa"> </i>
            <span class="indented tree-label">{{ row.label }}</span>
        </a>
    </li>
</ul>