<div ng-transclude></div>
<fieldset>
    <legend>Загрузить файл в папку</legend>
    <form>
        <label ng-show="progressVisible"> Загрузка {{progress}}%...</label>
        <input type="file" name="image" ng-model="photo"
               onchange="angular.element(this).scope().setFiles(this)"/>
        <input type="button" value="Загрузить" ng-disabled="files.length==0" class="button"
               ng-click="uploadFile()"/>
    </form>
    <small><span class="required">*</span> Вы также можете загрузить файл, перетащив и бросив его в активную область.</small><br/><br/>
</fieldset>